**/*.pyc
**/*.log
.idea/*
**/*metrics.json
fed_ev/log/*
fed_gridlabd/TE_Challenge.glm
fed_gridlabd/TE_Challenge_HELICS_msg.json
fed_gridlabd/TE_Challenge_glm_dict.json
fed_gridlabd/gridlabd_helics_config.json
fed_gridlabd/eplus_load.csv
fed_gridlabd/weather.csv
fed_substation/TE_Challenge_HELICS_substation.json
fed_substation/substation_helics_config.json
fed_substation/figures/*
fed_substation/metrics/*
fed_ev/emobpy_data/profiles/*
fed_ev/ev_helics_config.json
fed_ev/*history.pkl
fed_ev/driving_power.pkl
fed_pypower/TE_ChallengeH.csv
fed_pypower/pypower_config.json
fed_weather/weather.csv
fed_weather/weather_helics_config.json
scenario.pkl
scenarios/*


!**/.gitkeep
fed_ev/ev_driving_loads.html
fed_ev/ev_driving_loads.png
fed_ev/ev_locations.html
fed_ev/ev_locations.png
fed_substation/ev_helics_config.json
fed_substation/house_loads_sample.csv
